<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h2>formulaire de mise a jour de Categorie  </h2>
    <form th:action="@{/Categorie/edit}" th:object="${uneCategorie}" method="post" >
        <div class="mb-3">
            <input type="hidden" th:field="*{id}" class="form-control"  >
        </div>
        <div class="mb-3">
            <label  class="form-label">Designation</label>
            <input type="text" th:field="*{designation}" class="form-control"  >
        </div>
        <div class="mb-3">
            <input type="submit" value="Enregistrer" class="btn btn-primary">
        </div>

    </form>

</div>
<script rel="text/javascript"  th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>