<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>

<div class="container">
    <h1> Liste des produits </h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Libelle</th>
            <th scope="col">Quantité</th>
            <th scope="col">Stock</th>
            <th scope="col">Date de creation</th>
            <th scope="col">Prix</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${produits}">
            <th th:text="${item.id}" scope="row"></th>
            <td th:text="${item.libelle}"></td>
            <td th:text="${item.qtStock}"></td>
            <td th:text="${item.qtSeuil}"></td>
            <td th:text="${item.dateCreation}"></td>
            <td th:text="${item.prix}"></td>
            <td>
                <a th:href="@{/produits/edit/{id}(id=${item.id})}">Edit | </a>
                <a th:href="@{/produits/delete/{id}(id=${item.id})}">Delete </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script rel="text/javascript"  th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>